/* Register Page content*/
.register-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}

.register-page-register-page {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}

.register-page-frame14-header-navigation {
  width: 100%;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: rgba(191, 210, 142, 1);
}

.register-page-button {
  gap: 8px;
  top: 63px;
  right: 109px;
  margin: auto;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  align-self: flex-start;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-radius: 8px;
  justify-content: flex-start;
  background-color: rgba(26, 111, 25, 1);
}

.register-page-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: center;
  text-align: left;
  line-height: 150%;
}

.register-page-updated-logov5nobilog1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 527px;
  bottom: 0px;
  height: 73px;
  margin: auto;
  position: absolute;
  box-sizing: content-box;
}

.register-page-lld-alogo2 {
  top: 0px;
  left: 450px;
  width: 131px;
  bottom: 0px;
  height: 128px;
  margin: auto;
  position: absolute;
}

.register-page-bagongpinas1 {
  top: 0px;
  right: 450px;
  width: 167px;
  bottom: 0px;
  height: 128px;
  margin: auto;
  position: absolute;
  align-self: center;
}

.register-page-loginframe {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 470px;
  bottom: 0px;
  height: 565px;
  margin: auto;
  display: flex;
  z-index: 2;
  border-radius: 50px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(246, 246, 246, 1);
}

.register-page-text02 {
  top: 519px;
  left: 132px;
  color: rgba(27, 112, 25, 1);
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.register-page-text03 {
  font-weight: 400;
}

.register-page-text05 {
  top: 416px;
  left: 185px;
  color: rgba(27, 112, 25, 1);
  height: auto;
  z-index: 2;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.register-page-text07 {
  top: 30px;
  left: 120px;
  color: rgba(27, 112, 25, 1);
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 40px;
  font-style: Extra Bold;
  text-align: left;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.register-page-input-fields {
  top: 107px;
  left: 42px;
  width: 385px;
  height: 251px;
  display: flex;
  z-index: 4;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.register-page-key {
  top: 203px;
  left: 8px;
  width: 46px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.register-page-key1 {
  top: 3px;
  left: 1.9167062044143677px;
  width: 46px;
  height: 46px;
  position: absolute;
}

.register-page-frame02-password-input-field {
  gap: 8px;
  top: 203px;
  left: 66px;
  color: rgba(130, 130, 130, 1);
  width: 270px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-weight: 500;
  border-color: rgba(27, 112, 25, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.register-page-frame01-password-input-field {
  gap: 8px;
  top: 139px;
  left: 66px;
  color: rgba(130, 130, 130, 1);
  width: 270px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-weight: 500;
  border-color: rgba(27, 112, 25, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.register-page-frame01-username-input-field {
  gap: 8px;
  top: 7px;
  left: 66px;
  color: rgba(130, 130, 130, 1);
  width: 270px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-weight: 500;
  border-color: rgba(27, 112, 25, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.register-page-frame01-email-input-field {
  gap: 8px;
  top: 75px;
  left: 66px;
  color: rgba(130, 130, 130, 1);
  width: 270px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-weight: 500;
  border-color: rgba(27, 112, 25, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.register-page-alternateemail {
  top: 82px;
  left: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.register-page-alternateemail1 {
  top: 2.9169039726257324px;
  left: 2.9166369438171387px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.register-page-key2 {
  top: 141px;
  left: 8px;
  width: 46px;
  height: 46px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.register-page-key3 {
  top: 0px;
  left: 1.9167062044143677px;
  width: 46px;
  height: 46px;
  position: absolute;
}

.register-page-person {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.register-page-person1 {
  top: 10.500164985656738px;
  left: 10.50001049041748px;
  width: 42px;
  height: 42px;
  position: absolute;
}

.register-page-items {
  gap: 48px;
  top: 361px;
  left: 179px;
  width: 112px;
  height: 52px;
  display: flex;
  z-index: 5;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}

.register-page-button1 {
  border-radius: 8px;
  border: none;
  background-color: #1b7019;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  cursor: pointer;
  font-size: var(--small-text-size);
  color: #fff;
}

.register-page-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}

.register-page-google1 {
  width: 54px;
  position: absolute;
  margin: 0 !important;
  top: 650px;
  left: calc(50% - 25px);
  height: 54px;
  object-fit: cover;
  cursor: pointer;
  z-index: 3;
}

.register-page-frame15-footer {
  right: 0px;
  width: 100%;
  bottom: -1px;
  height: 184px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(191, 210, 142, 1);
}

.register-page-items1 {
  gap: 24px;
  top: 48px;
  left: 588px;
  width: 212px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.register-page-text11 {
  top: 1px;
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}

.register-page-text13 {
  top: 25px;
  color: rgba(68, 68, 68, 1);
  width: 212px;
  height: auto;
  z-index: 1;
  position: absolute;
  text-align: left;
  line-height: 150%;
}

.register-page-text15 {
  top: 49px;
  color: rgba(68, 68, 68, 1);
  width: 212px;
  height: auto;
  z-index: 2;
  position: absolute;
  text-align: left;
  line-height: 150%;
}

.register-page-text17 {
  top: 73px;
  color: rgba(68, 68, 68, 1);
  width: 212px;
  height: auto;
  z-index: 3;
  position: absolute;
  text-align: left;
  line-height: 150%;
}

.register-page-text19 {
  top: 55px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.register-page-social-icons {
  gap: 8px;
  top: 100px;
  left: 152px;
  width: 136px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.register-page-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.register-page-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.register-page-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.register-page-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.register-page-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.register-page-icon3 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}

.register-page-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}

.register-page-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.register-page-icon5 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.register-page-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}

.register-page-text21 {
  top: 52px;
  left: 902px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 1680px) {
  .register-page-google1 {
    top: 693px;
    width: 54px;
    position: absolute;
    margin: 0 !important;
    left: calc(50% - 25px);
    height: 54px;
    object-fit: cover;
    cursor: pointer;
    z-index: 3;
  }
}
@media (max-width: 1600px) {
  .register-page-google1 {
    top: 680px;
    width: 54px;
    position: absolute;
    margin: 0 !important;
    left: calc(50% - 25px);
    height: 54px;
    object-fit: cover;
    cursor: pointer;
    z-index: 3;
  }
}
@media (max-width: 1440px) {
  .register-page-google1 {
    top: 710px;
    width: 54px;
    position: absolute;
    margin: 0 !important;
    left: calc(50% - 25px);
    height: 54px;
    object-fit: cover;
    cursor: pointer;
    z-index: 3;
  }
}