.register-here {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button {
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
}
.items {
  position: absolute;
  top: 56px;
  right: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.updated-logo-v5-no-bilog-1 {
  position: absolute;
  top: 52px;
  left: calc(50% - 264px);
  width: 527px;
  height: 73px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.llda-logo-2 {
  position: absolute;
  top: 24px;
  left: calc(50% - 400px);
  width: 131px;
  height: 128px;
  object-fit: cover;
  }
.bagong-pinas-1 {
  position: absolute;
  top: 19px;
  left: 1178px;
  width: 167.3px;
  height: 128px;
  object-fit: cover;
  
}
.header-navigation {
  width: 100%;
  position: relative;
  background-color: #bfd28e;
  height: 164px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--small-text-size);
  color: #fff;
  font-family: var(--small-text);
}
.research-proponents {
  width: 212px;
  position: absolute;
  margin: 0 !important;
  top: 1px;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  z-index: 0;
}
.marcus-henson-l {
  width: 212px;
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 1;
}
.john-wilson-d {
  width: 212px;
  position: absolute;
  margin: 0 !important;
  top: 49px;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 2;
}
.joshua-a-rancap {
  width: 212px;
  position: absolute;
  margin: 0 !important;
  top: 73px;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 3;
}
.items1 {
  position: absolute;
  top: 48px;
  left: calc(50% - 93px);
  width: 212px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-s);
  color: var(--color-darkslategray);
}
.laguna-lake-development {
  position: absolute;
  top: 55px;
  left: 80px;
  font-size: 20px;
  line-height: 150%;
}
.buttons-icon {
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 40px;
  object-fit: cover;
}
.social-icons {
  position: absolute;
  top: 100px;
  left: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-xs);
}
.divider {
  position: absolute;
  top: 0.5px;
  left: 79.5px;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.llda-all-rights {
  position: absolute;
  top: 52px;
  left: 1260px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}
.footer {
  width: 100%;
  position: absolute;
  display: flex;
  margin: 0 !important;
  height: 184px;
  top: 876px;
  right: -1360px;
  bottom: -1060px;
  left: 0px;
  background-color: #bfd28e;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
  }

.frame-background {
  position: absolute;
  top: calc(50% - 282.5px);
  left: calc(50% - 235px);
  border-radius: 50px;
  background-color: #f6f6f6;
  border: 1px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 470px;
  height: 565px;
}
.forgot-password {
  position: absolute;
  top: 335px;
  left: 105px;
  line-height: 150%;
}
.not-a-user-container {
  position: absolute;
  top: 488px;
  left: 121px;
  line-height: 150%;
  cursor: pointer;
}
.login-via {
  position: absolute;
  top: 385px; 
  left: calc(50% - 38px);
  line-height: 150%;
  font-weight: 600;
}
.login-here {
  position: absolute;
  top: 37px;
  left: calc(50% - 107px);
  font-size: 40px;
  line-height: 150%;
  font-weight: 800;
}
.label {
  width: 263px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.username-input-field {
  position: absolute;
  top: 7px;
  left: calc(50% - 126.5px);
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 319px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.password-input-field {
  position: absolute;
  top: 83px;
  left: 66px;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgreen);
  box-sizing: border-box;
  width: 319px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
.key-icon {
  position: absolute;
  top: 90px;
  left: 8px;
  width: 46px;
  height: 46px;
}
.person-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
}
.input-fields {
  position: absolute;
  top: 138px;
  left: calc(50% - 193px);
  width: 385px;
  height: 136px;
  color: var(--color-gray);
}
.remember-me {
  position: absolute;
  top: 0px;
  left: 19px;
  line-height: 150%;
  font-weight: 500;
}
.check-box-outline-blank-icon {
  position: absolute;
  height: 50%;
  width: 9.23%;
  top: 29.17%;
  right: 89.23%;
  bottom: 20.83%;
  left: 1.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.check-box-outline-blank {
  position: absolute;
  top: 297px;
  left: 107px;
  width: 130px;
  height: 24px;
  color: var(--color-gray);
}
.items2 {
  position: absolute;
  top: 283px;
  left: 331px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--color-white);
}
.login-frame {
  width: 470px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 282px);
  left: calc(50% - 235px);
  height: 565px;
  z-index: 2;
  color: var(--color-darkgreen);
  color: #000;
}
.google-1-icon {
  width: 54px;
  position: absolute;
  margin: 0 !important;
  top: 666px;
  left: calc(50% - 25px);
  height: 54px;
  object-fit: cover;
  cursor: pointer;
  z-index: 3;
}
/* Login page*/
.login-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1060px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  text-align: left;
  font-size: var(--small-text-size);
  color: var(--color-white);
  font-family: var(--small-text);
}
/* home page content*/
.laguna-lake-from-llda-1 {
  position: absolute;
  top: 22.39px;
  left: calc(50% - 399.35px);
  width: 606.4px;
  height: 632.2px;
  object-fit: contain;
  }
  .legend {
  position: absolute;
  top: 22px;
  left: 606.72px;
  line-height: 150%;
  font-weight: 500;
  color: black;
  }
  .laguna-lake-stations {
  position: absolute;
  top: 69px;
  left: 633.72px;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 500;
  color: black;
  }
  .tributary-rivers-stations {
  position: absolute;
  top: 93px;
  left: 633.72px;
  font-size: var(--font-size-sm);
  line-height: 150%;
  font-weight: 500;
  color: black;
  }
  .legend-1-icon {
  position: absolute;
  top: 71px;
  left: 609.72px;
  width: 17px;
  height: 17px;
  
  }
  .legend-2-icon {
  position: absolute;
  top: 95px;
  left: 609.72px;
  width: 17px;
  height: 17px;
  }
  .view-quarterly-report {
  position: absolute;
  top: 0px;
  left: 200px;
  line-height: 150%;
  font-weight: 500;
  cursor: pointer;
  color: black;
  }
  .home-page-frame {
  width: 798.7px;
  position: absolute;
  margin: 0 !important;
  top: 193px;
  left: calc(50% - 308px);
  height: 654.6px;
  z-index: 2;
  }
  .home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1060px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--small-text);
  }

  .home {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    }
    .status {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
    }
    .log-out {
    position: relative;
    line-height: 150%;
    font-weight: 500;
    }
    .button {
    box-shadow: var(--button-shadow);
    border-radius: 8px;
    background-color: #1b7019;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    cursor: pointer;
    font-size: var(--small-text-size);
    color: #fff;
    }
    .items {
    width: 100%;
    position: relative;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;
    text-align: left;
    font-size: var(--body-text-size);
    color: var(--color-black);
    font-family: var(--small-text);
    }

/* status page*/
.laguna-lake-from-llda-2 {
  width: 580.44px;
  margin: 0 !important;
  height: 761.92px;
  object-fit: contain;
  position: absolute;
  top: 300px;
  left: calc(50% - 300px);
  }

.wednesday-1st-january {
  flex: 1;
  position: relative;
  line-height: 24px;
  border-radius: var(--SpacingXS) 0px 0px 0px;
  border: 2px 0px 0px 0px;

}
.chevron-up-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-field {
  align-self: stretch;
  box-shadow: 0px 0px 0px 4px rgba(221, 221, 221, 0.16);
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 2px solid #ededed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-base);
}
.text-input {
width: 459px;
position: absolute;
margin: 0 !important;
position: absolute;
top: 209px;
left: calc(50% - 250px);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
text-align: center;
font-size: 16px;
color: #2a2f3b;
font-family: var(--font-inter);
}


.component-4-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.january-2023 {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.component-2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.icon {
  width: 6px;
  position: relative;
  height: 12px;
}
.component-3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 9px;
}
.header {
  width: 384px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.mo {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.content-light-mode {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.content-light-mode7 {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  color: var(--color-silver);
}
.content-light-mode9 {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.content-dark-mode {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumslateblue-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  color: var(--color-white);
}
.content-light-mode25 {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: #d0deff;
  border: 2px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  color: var(--color-mediumslateblue-100);
}
.i21 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  z-index: 0;
}
.content-light-mode-child {
  width: 4px;
  position: absolute;
  margin: 0 !important;
  top: 40px;
  left: calc(50% - 2px);
  border-radius: 50%;
  background-color: var(--color-mediumslateblue-200);
  height: 4px;
  z-index: 1;
}
.content-light-mode27 {
  width: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-9xs);
}
.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-silver);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cancel {
  position: relative;
  line-height: 32px;
}
.cta-button-light-mode {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.cta-button-dark-mode {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumslateblue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  color: var(--color-white);
}
.buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: #888;
}
.datepickers {
  width: 470px;
  position: relative;
  border-radius: 16px;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 493px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-arapey);
}

.lake-status {
  width: 200px;
  position: absolute;
  margin: 0 !important;
  top: 300px;
  left: 1250px;
  font-size: 23px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--body-text);
  color: #000;
  text-align: left;
  display: inline-block;
}

.algal-blooms {
  width: 87px;
  position: absolute;
  margin: 0 !important;
  top: 330px;
  left: 1250px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: #000;
  text-align: left;
  display: inline-block;
}

.fish-kills {
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 355px;
  left: 1250px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: #000;
  text-align: left;
  display: inline-block;
}

.water-quality {
  width: 91px;
  position: absolute;
  margin: 0 !important;
  top: 381px;
  left: 1250px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: #000;
  text-align: left;
  display: inline-block;
}
.rectangle-div-1 {
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 330px;
  left: 1350px;
  background-color: #00b41d;
  height: 16px;
}
.rectangle-div-2 {
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 355px;
  left: 1350px;
  background-color: #d9d9d9;
  height: 16px;
}
.rectangle-div-3 {
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 381px;
  left: 1350px;
  background-color: #d9d9d9;
  height: 16px;
}
.legend-4-icon {
  width: 22px;
  position: absolute;
  margin: 0 !important;
  top: 439px;
  left: 915px;
  height: 22px;
  z-index: 10;
  }
  .legend-5-icon {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: 510px;
  left: 974px;
  height: 21px;
  z-index: 11;
  }
  .legend-6-icon {
  width: 22px;
  position: absolute;
  margin: 0 !important;
  top: 734px;
  left: 852px;
  height: 22px;
  z-index: 12;
  }
  .legend-7-icon {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: 722px;
  left: 1073px;
  height: 22px;
  z-index: 13;
  }
  .legend-8-icon {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: 860px;
  left: 847px;
  height: 22px;
  z-index: 14;
  }
  .legend-9-icon {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: 983px;
  left: 714px;
  height: 22px;
  z-index: 15;
  }





  
.field {
  width: 327px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  }

  .data-repositories {
    width: 271px;
    position: absolute;
    margin: 0 !important;
    top: 24%;
    left: 30%;
    font-size: 32px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    z-index: 2;
    }

    .input-field-with-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin-top: 50px;
      margin-left: 15%;
  }

  .input-field-with-button form {
      display: flex;
      align-items: center;
  }

  .input-field-with-button input[type="file"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
  }

  .button-new {
      padding: 10px 20px;
      border: none;
      background-color: #1b7019;
      color: white;
      border-radius: 4px;
      cursor: pointer;
  }

  .button-new:hover {
      background-color: #0056b3;
  }

   .field1 {
    align-self: stretch;
    flex: 1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px;
    position: relative;
    color: #828282;
    }

    .multi-line-paragraph-input {
      width: 954px;
      margin: 0 !important;
      position: absolute;
      top: 316px;
      left: calc(50% - 477px);
      height: 468px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      z-index: 4;
      font-size: 16px;
      }