.login-foot {
  height: 18vh;
  top: 5vh;
  position: relative;
  display: flex;
  background-color: #bfd28e;
  overflow: hidden;
}

.foot{
  height: 18vh;
  top: 75vh;
  position: relative;
  display: flex;
  background-color: #bfd28e;
  overflow: hidden;
}

.footer {
  width: 100%;
}

.research-proponents {
  width: 212px;
  position: relative;
  margin: 0 !important;
  top: 1px;
  left: 0px;
  line-height: 150%;
  font-weight: bold;
  color: var(--color-black);
  display: flex;
  align-items: center;
  z-index: 0;
}

.marcus-henson-l {
  width: 212px;
  position: relative;
  margin: 0 !important;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 1;
}

.john-wilson-d {
  width: 212px;
  position: relative;
  margin: 0 !important;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 2;
}

.joshua-a-rancap {
  width: 212px;
  position: relative;
  margin: 0 !important;
  left: 0px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 3;
}

.items1 {
  position: absolute;
  top: 48px;
  left: calc(50% - 93px);
  width: 212px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--spacing-s);
  color: var(--color-darkslategray);
}

.laguna-lake-development {
  position: absolute;
  top: 55px;
  left: 80px;
  font-size: 20px;
  line-height: 150%;
}

.buttons-icon {
  width: 100%;
  position: relative;
  margin: 15px;
  height: 24px;
  object-fit: cover;

}

.social-icons {
  position: absolute;
  top: 100px;
  left: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-xs);
}

.divider {
  position: absolute;
  top: 0.5px;
  left: 79.5px;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 100%;
}

.llda-all-rights {
  position: absolute;
  top: 52px;
  left: calc(75%);
  font-size: 14px;
  line-height: 150%;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 1680px) {
 .footer{
  top: 828px;
 }
}